
<%= simple_form_for(@question) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.association :paper %>
    <%= f.association :project %>
    <%= f.input :type %>
    <%= f.input :question_1 %>
    <%= f.input :question_2 %>
    <%= f.input :question_3 %>
    <%= f.input :question_4 %>
    <%= f.input :question_5 %>
    <%= f.input :question_6 %>
    <%= f.input :question_7 %>
    <%= f.input :question_8 %>
    <%= f.input :question_9 %>
    <%= f.input :question_10 %>
    <%= f.input :question_11 %>
    <%= f.input :question_12 %>
    <%= f.input :question_13 %>
    <%= f.input :question_14 %>
    <%= f.input :question_15 %>
    <%= f.input :question_16 %>
    <%= f.input :question_17 %>
    <%= f.input :question_18 %>
    <%= f.input :question_19 %>
    <%= f.input :question_20 %>
    <%= f.input :question_21 %>
    <%= f.input :question_22 %>
    <%= f.input :question_23 %>
    <%= f.input :question_24 %>
    <%= f.input :question_25 %>
    <%= f.input :question_26 %>
    <%= f.input :question_27 %>
    <%= f.input :question_28 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
