<p id="notice"><%= notice %></p>

<p>
  <strong>Question content year:</strong>
  <%= @contentquestion.question_content_year %>
</p>

<p>
  <strong>Question content nation:</strong>
  <%= @contentquestion.question_content_nation %>
</p>

<p>
  <strong>Question content income:</strong>
  <%= @contentquestion.question_content_income %>
</p>

<p>
  <strong>Question content type:</strong>
  <%= @contentquestion.question_content_type %>
</p>

<p>
  <strong>Question content study:</strong>
  <%= @contentquestion.question_content_study %>
</p>

<p>
  <strong>Question content modelling:</strong>
  <%= @contentquestion.question_content_modelling %>
</p>

<p>
  <strong>Question content perspective a:</strong>
  <%= @contentquestion.question_content_perspective_a %>
</p>

<p>
  <strong>Question content perspective r:</strong>
  <%= @contentquestion.question_content_perspective_r %>
</p>

<p>
  <strong>Question content sensitivity:</strong>
  <%= @contentquestion.question_content_sensitivity %>
</p>

<p>
  <strong>Question content data:</strong>
  <%= @contentquestion.question_content_data %>
</p>

<p>
  <strong>Question content outcome:</strong>
  <%= @contentquestion.question_content_outcome %>
</p>

<p>
  <strong>Question content cost:</strong>
  <%= @contentquestion.question_content_cost %>
</p>

<p>
  <strong>Question content intervention:</strong>
  <%= @contentquestion.question_content_intervention %>
</p>

<p>
  <strong>Question content data:</strong>
  <%= @contentquestion.question_content_data %>
</p>

<p>
  <strong>Question content sample:</strong>
  <%= @contentquestion.question_content_sample %>
</p>

<p>
  <strong>Question content description:</strong>
  <%= @contentquestion.question_content_description %>
</p>

<p>
  <strong>User:</strong>
  <%= @contentquestion.user %>
</p>

<p>
  <strong>Paper:</strong>
  <%= @contentquestion.paper %>
</p>

<p>
  <strong>Project:</strong>
  <%= @contentquestion.project %>
</p>

<%= link_to 'Edit', edit_contentquestion_path(@contentquestion) %> |
<%= link_to 'Back', contentquestions_path %>
