You are modifying the porject named:

  <%= project.title %> with id: <%= project.id %>

THIS HAS BEEN CREATED BY %= project.user.email %>
<div class="container">

  <div class="row ">
    <div class="col-sm-6 col-sm-offset-0">

<%= simple_form_for(project) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <%= f.input :title, label: "Enter the title of your project" %>
        <%= f.input :body, label: "Enter a short description of your project", as: :text, input_html: {rows: 15, cols: 10} %>

        <%= f.association :user, label: "Which user is creating it?", :as => :hidden, :input_html => { :value => current_user.id }  %>

      </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
      <% end %>
    </div>
  </div>
</div>

