
<head>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <%= javascript_include_tag 'application' %>
</head>

<br>
<div class="container">
  You are inside project:
  <%= @project.title %> with id <%= @project.id %>
  <br>
  <%= link_to "Export project statistics as spreadsheet", project_download_project_path(format: "xlsx"), :class => "btn btn-primary" %>
</div>
<br>

<div style="margin-bottom: 500px">
 <%= column_chart @data, adapter: 'google', library: { isStacked: 'percent',  height: 800,}, download: {filename: "boom"}%>
</div>

<div class="container">
        <h3>Key</h3>
        <p>1. Identify the study as an economic evaluation</p>
        <p>2. Provide a structured summary of objectives, methods, results and conclusions</p>
        <p>3.A Provide an explicit statement of the broader context of the study</p>
        <p>3.B Present the study question and its relevance for health policy or practice decisions</p>
        <p>4. Describe characteristics of the base-case population and subgroups analyzed</p>
        <p>5. State relevant aspects of the systems in which decisions are to be made</p>
        <p>6. Describe the perspective of the study and relate it to costs evaluated</p>
        <p>7. Describe the interventions or strategies being compared and why they've been chosen</p>
        <p>8. State the time horizon(s) over which costs and consequences are being evaluated, and say why appropriate</p>
        <p>9. Report and discuss the choice of discount rate(s) used for costs and outcomes</p>
        <p>10. Describe what outcomes were used as the measure(s) of benefit in the evaluation and their relevance for the type of analysis performed</p>
        <p>11.A Single study–based estimates: Describe fully the design features of the single effectiveness study</p>
        <p>11.B Synthesis-based estimates: Describe fully the methods used for the identification of included studies and synthesis of clinical effectiveness data</p>
        <p>12. If applicable, describe the population and methods used to elicit preferences for outcomes</p>
        <p>13.A Single study–based economic evaluation: Describe approaches used to estimate resource use associated with the alternative interventions</p>
        <p>13.B Model-based economic evaluation: Describe approaches and data sources used to estimate resource use associated with model health states</p>
        <p>14. Report the dates of the estimated resource quantities and unit costs; cescribe methods for adjusting estimated unit costs and converting costs</p>
        <p>15. Describe and give reasons for the specific type of decision-analytic model used. Providing a figure to show model structure is strongly recommended</p>
        <p>16. Describe all structural or other assumptions underpinning the decision-analytic model</p>
        <p>17. Describe all analytic methods supporting the evaluation</p>
        <p>18. Report the values, ranges, references, and if used, probability distributions for all parameters</p>
        <p>19. For each intervention, report mean values for the main categories of estimated costs and outcomes of interest, as well as mean differences between the comparator groups</p>
        <p>20.A Single study–based economic evaluation: Describe the effects of sampling uncertainty, together with the impact of methodological assumptions</p>
        <p>20.B Model-based economic evaluation: Describe the effects on the results of uncertainty for all input parameters</p>
        <p>21. If applicable, report differences in costs, outcomes, or cost- effectiveness that can be explained by variations between subgroups of patients</p>
        <p>22. Summarize key study findings and describe how they support the conclusions reached</p>
        <p>23. Describe how the study was funded and the role of the funder in the identification, design, conduct, and reporting of the analysis</p>
        <p>24. Describe any potential for conflict of interest among study contributors in accordance with journal policy</p>
</div>







