<p id="notice"><%= notice %></p>


<p id="notice"><%= notice %></p>
<div class="container">
  <h4>You are viewing the project:

    <%=@project.title %></h4>
<!--     <h1>This project has been created by:</h1>
    <%=@project.user.email %></h1>
 -->
    <div class="add-new-project-button">
    <!--  <%= link_to 'See all projects', projects_path, :class => "btn btn-primary" %> -->
      <% if  current_user.admin%>

      <%= link_to 'Add new paper', new_project_paper_path(@project.id), :class => "btn btn-warning" %>
      <% end %>

      <% if  current_user.admin%>

      <%= link_to 'Project stats ', replies_project_project_path(@project.id), :class => "btn btn-success" %>
<!--
      <%= link_to "Delete this project", project_path(@project), :class => "btn btn-danger",  method: :delete,
      data: { confirm: "Are you sure you want to delete this project?" } %> -->
<% end %>

    </div>
<!--     <div class="row">
      <% @project.papers.each do |paper| %>

      <div class="col-xs-12 col-sm-4">
        <%= link_to project_paper_path(paper.project.id, paper.id) do %>
        <div class="card">
          <div class="card-description">
            <div class="card-born-country">
              <div class="card-born">
                Title of the paper
                <p><%=paper.title=%>,</p>
              </div>
              Summary of the paper
              <div class="card-country">
                <p> <%= paper.body=%></p>
              </div>
            </div>

          </div>
                    <% if  current_user.admin%>
          <div class="delete-item">
            <%= link_to "Delete this paper", project_paper_path(paper.project.id, paper), method: :delete,
            data: { confirm: "Are you sure you want to delete this paper?" } %>
          </div>
          <% end %>
        </div>
        <% end %>

      </div>
      <% end %>
    </div> -->


<div class="row">
    <% @project.papers.each do |paper| %>
    <div class="col-sm-3" style="background-color":;>

      <div class="card top-buffer">
        <%= link_to project_paper_path(paper.project.id, paper.id) do %>
        <%= image_tag("file.png", class: "card-img-top img-responsive center-block") %>

<!--
<img class="card-img-top" src="/assets/file.png" alt="Card image"> -->
            <div class="overlay img-responsive">
              <div class="card-body text-info">
  <div class="text-center">

  <h4 class="card-title"><strong> <%= truncate(paper.title, length:10)=%> </strong> </h4>
                 <!--
<p><%= paper.body=%></p> -->

              </div>
            </div>
            </div>
            </div>

<!--
          <div class="card-header text-white" style="background-color: #ff5722;">
            <div class="text-center">
            <p> <strong><%=paper.title=%> </strong> </p>
            </div>
          </div>
            <div class="card-body">
              <div class="card-description">
                 <p> <strong>Description of the paper:</strong></p>
                 <p> <%= paper.body=%></p>
              </div>

         -->


    <% if  current_user.admin%>
<div class="text-center">
    <%= link_to "Delete this paper", project_paper_path(paper.project.id, paper), method: :delete,
    data: { confirm: "Are you sure you want to delete this paper?" } %>

    <% end %>
  <% end %>
</div>
</div>
<% end %>


</div>
</div>
