<div class="container">

  <div class="row ">
    <div class="col-sm-6 col-sm-offset-0">

      <%= simple_form_for [@project, paper] do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <%= f.input :title, label: "Write the title of the paper you are adding" %>
        <%= f.input :body, label: "Write a short summary of the paper you are adding", as: :text, input_html: {rows: 15, cols: 10} %>
        <%= f.file_field :paper_pdf, label: "Upload the paper as PDF" %>

<!--        - <%= f.association :project, :as => :hidden, label: "To which project are you adding it?", :input_html => { :value => @project }  %> -->
      </div>
<br>
      <div class="form-actions">
        <%= f.button :submit %>
      </div>
      <% end %>
    </div>
  </div>
</div>
