<div class="container">
  <div class="row ">
    <div class="col-sm-6 col-sm-offset-3">

      <%= simple_form_for [@project, @paper] do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <h3>Title and abstract</h3>
        <%= f.input :question_1, :collection =>["N/A", "No - 0", "Partially - 0.5", "Yes - 1"], label: "1. Identify the study as an economic evaluation " %>
        <%= f.input :question_2, :collection =>["N/A", "No - 0", "Partially - 0.5", "Yes - 1"], label: "2. Provide a structured summary of objectives, methods, results and conclusions" %>
        <h3>Introduction</h3>
        <%= f.input :question_3, :collection =>["N/A", "No - 0", "Partially - 0.5", "Yes - 1"], label: "3.A Provide an explicit statement of the broader context of the study" %>
        <%= f.input :question_4, :collection =>["N/A", "No - 0", "Partially - 0.5", "Yes - 1"],label: "3.B Present the study question and its relevance for health policy or practice decisions. " %>
        <h3>Methods</h3>
        <%= f.input :question_5, :collection =>["N/A", "No - 0", "Partially - 0.5", "Yes - 1"],label: "4. Describe characteristics of the base-case population and subgroups analyzed." %>
        <%= f.input :question_6, :collection =>["N/A", "No - 0", "Partially - 0.5", "Yes - 1"],label: "5. State relevant aspects of the systems in which decisions are to be made.
" %>
        <%= f.input :question_7, :collection =>["N/A", "No - 0", "Partially - 0.5", "Yes - 1"],label: "6. Describe the perspective of the study and relate it to costs evaluated.
" %>
        <%= f.input :question_8,  :collection =>["N/A", "No - 0", "Partially - 0.5", "Yes - 1"], label: "7. Describe the interventions or strategies being compared and why they've been chosen.
" %>
        <%= f.input :question_9, :collection =>["N/A", "No - 0", "Partially - 0.5", "Yes - 1"],label: "8. State the time horizon(s) over which costs and consequences are being evaluated, and say why appropriate
" %>
        <%= f.input :question_10, :collection =>["N/A", "No - 0", "Partially - 0.5", "Yes - 1"], label: "9. Report and discuss the choice of discount rate(s) used for costs and outcomes.
" %>
        <%= f.input :question_11, :collection =>["N/A", "No - 0", "Partially - 0.5", "Yes - 1"], label: "10. Describe what outcomes were used as the measure(s) of benefit in the evaluation and their relevance for the type of analysis performed.
" %>
        <%= f.input :question_12, :collection =>["N/A", "No - 0", "Partially - 0.5", "Yes - 1"], label: "11.A Single study–based estimates: Describe fully the design features of the single effectiveness study.
" %>
        <%= f.input :question_13, :collection =>["N/A", "No - 0", "Partially - 0.5", "Yes - 1"], label: "11.B Synthesis-based estimates: Describe fully the methods used for the identification of included studies and synthesis of clinical effectiveness data.
" %>
        <%= f.input :question_14, :collection =>["N/A", "No - 0", "Partially - 0.5", "Yes - 1"], label: "12 If applicable, describe the population and methods used to elicit preferences for outcomes.
" %>
        <%= f.input :question_15, :collection =>["N/A", "No - 0", "Partially - 0.5", "Yes - 1"], label: "13.1 Single study–based economic evaluation: Describe approaches used to estimate resource use associated with the alternative interventions.
" %>
        <%= f.input :question_16, :collection =>["N/A", "No - 0", "Partially - 0.5", "Yes - 1"], label: "13.2 Model-based economic evaluation: Describe approaches and data sources used to estimate resource use associated with model health states.
" %>
        <%= f.input :question_17, :collection =>["N/A", "No - 0", "Partially - 0.5", "Yes - 1"], label: "14. Report the dates of the estimated resource quantities and unit costs; cescribe methods for adjusting estimated unit costs and converting costs.
" %>
        <%= f.input :question_18, :collection =>["N/A", "No - 0", "Partially - 0.5", "Yes - 1"], label: "15. Describe and give reasons for the specific type of decision-analytic model used. Providing a figure to show model structure is strongly recommended.
" %>
        <%= f.input :question_19, :collection =>["N/A", "No - 0", "Partially - 0.5", "Yes - 1"], label: "16. Describe all structural or other assumptions underpinning the decision-analytic model.
" %>
        <%= f.input :question_20, :collection =>["N/A", "No - 0", "Partially - 0.5", "Yes - 1"], label: "17. Describe all analytic methods supporting the evaluation.
" %>
        <h3>Results</h3>
        <%= f.input :question_21, :collection =>["N/A", "No - 0", "Partially - 0.5", "Yes - 1"], label: "18. Report the values, ranges, references, and if used, probability distributions for all parameters.
" %>
        <%= f.input :question_22, :collection =>["N/A", "No - 0", "Partially - 0.5", "Yes - 1"], label: "19. For each intervention, report mean values for the main categories of estimated costs and outcomes of interest, as well as mean differences between the comparator groups.
" %>
        <%= f.input :question_23, :collection =>["N/A", "No - 0", "Partially - 0.5", "Yes - 1"], label: "20.A Single study–based economic evaluation: Describe the effects of sampling uncertainty, together with the impact of methodological assumptions.
" %>
        <%= f.input :question_24, :collection =>["N/A", "No - 0", "Partially - 0.5", "Yes - 1"], label: "20.B Model-based economic evaluation: Describe the effects on the results of uncertainty for all input parameters.
" %>
        <%= f.input :question_25, :collection =>["N/A", "No - 0", "Partially - 0.5", "Yes - 1"], label: "21. If applicable, report differences in costs, outcomes, or cost- effectiveness that can be explained by variations between subgroups of patients.
" %>
        <h3>Discussion</h3>
        <%= f.input :question_26, :collection =>["N/A", "No - 0", "Partially - 0.5", "Yes - 1"], label: "22. Summarize key study findings and describe how they support the conclusions reached.
" %>
        <h3>Other</h3>
        <%= f.input :question_27, :collection =>["N/A", "No - 0", "Partially - 0.5", "Yes - 1"], label: "23. Describe how the study was funded and the role of the funder in the identification, design, conduct, and reporting of the analysis.
" %>
        <%= f.input :question_28, :collection =>["N/A", "No - 0", "Partially - 0.5", "Yes - 1"], label: "24. Describe any potential for conflict of interest among study contributors in accordance with journal policy.
" %>

        <%= f.association :project, :as => :hidden, label: "To which project are you adding it?", :input_html => { :value => @project }  %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, label: "Send your review" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

