<div class="container">
  <!--<h1> Adding paper to project: <%= @project.title %></h1>

-->
<h2> </h2>
  <div class="row ">
    <div class="col-sm-6 col-sm-offset-3">

      <%= simple_form_for [@project, @paper], url: project_papers_path do |f| %>


      <div class="form-inputs">
        <%= f.input :title, label: "Enter the title of the paper" %>
        <%= f.input :body, label: "Enter a short description", as: :text, input_html: {rows: 15, cols: 10} %>
        <p style="color:red">Upload the document in PDF format only!</p>
        <%= f.file_field :paper_pdf, accept: 'application/pdf',  label: "Upload the paper as PDF" %>

        <%= f.association :project, :as => :hidden, label: "To which project are you adding it?", :input_html => { :value => @project }  %>
      </div>
      <br>
      <div class="form-actions">
        <%= f.button :submit, class:"btn btn-primary"  %>
      </div>
      <% end %>
    </div>
  </div>
</div>

